.contenedorMenuHamburguesa{
    display: grid;
    justify-content: end;
    z-index: +1;
}

.barraHamburguesa{
    height: 5px;
    width: 30px;
    background-color: black;
    margin-top: 5px;
    transform-origin: 0px 100%;
    transition: all 600ms;
}



.barraHamburguesa:hover{
    cursor: pointer;
}
.barra1{
    transform: rotate(45deg);
    translate: -2px 2px;
    background-color: white;
}

.barra2{
    opacity: 0%;
    translate: -150px;
    background-color: white;
    
}


.barra3{
    transform: rotate(-45deg);
    translate: 0px 3px;
    background-color: white;
}